os: linux
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
install:
  - python -m pip install --user .[all]
script:
  - PYTHONPATH=$(pwd) python -m pytest --pep8 --ignore setup.py --ignore build/
notifications:
  email: false